<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, maximum-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit" />
<title>Demo</title>
<style>
[v-cloak] {
    display: none;
}
ul {
    list-style-type: none;
}
li + li {
    margin-top: 1rem;
}
.text {
    display: block;
}
span.required {
    color: #f00;
}
.error {
    background: rgba(255, 0, 0, 0.2);
}
.errormsg {
    color: #f00;
}
</style>
<script src="libs/vue.js"></script>
<script src="index.js"></script>
</head>

<body>
<form action="" id="form" @submit.prevent="submit" v-cloak v-validate>
    <ul>
        <li>
            <label class="text">Title <span class="required">*</span></label>
            <label><input type="radio" name="title" value="Mr" required :class="{error: errors.title}"> Mr</label>
            <label><input type="radio" name="title" value="Ms" required :class="{error: errors.title}"> Ms</label>
            <div class="errormsg" v-if="errors.title">{{errors.title.message}}</div>
        </li>
        <li>
            <label class="text">How old are you? <span class="required">*</span></label>
            <input type="number" data-rule-min="1" data-rule-max="130" data-message-min="请输入不小于{0}的数字" data-message-max="请输入不大于{0}的数字" name="age" required :class="{error: errors.age}">
            <div class="errormsg" v-if="errors.age">{{errors.age.message}}</div>
        </li>
        <li>
            <label class="text">What's your favorite fruit? <span class="required">*</span></label>
            <select name="fruit" required :class="{error: errors.fruit}">
                <option></option>
                <option>Banana</option>
                <option>Cherry</option>
                <option>Apple</option>
                <option>Strawberry</option>
                <option>Lemon</option>
                <option>Orange</option>
            </select>
            <div v-if="errors.fruit" class="errormsg">{{errors.fruit.message}}</div>
        </li>
        <li>
            <label class="text">What's your e-mail? <span class="required">*</span></label>
            <input type="email" name="email" :class="{error: errors.email}" required data-lazy="true">
            <div v-if="errors.email" class="errormsg">{{errors.email.message}}</div>
        </li>
        <li>
            <label class="text">Leave a short comment</label>
            <textarea name="comment" cols="40" rows="5"
                 data-rule-minlength2="2" data-message-minlength2="最少{0}个字（一个中文算2个字）"
                data-rule-maxlength2="10" data-message-maxlength2="最多允许{0}个字（一个中文算2个字）"
                placeholder="4~10个字（一个中文算2个字）"></textarea>
            <p v-if="errors.comment" class="errormsg">{{errors.comment.message}}</p>
        </li>
        <li>
            <label class="text">username</label>
            <input type="text" name="username"
                data-rule-minlength2="2" data-message-minlength2="最少{0}个字（一个中文算2个字）"
                data-rule-maxlength2="10" data-message-maxlength2="最多允许{0}个字（一个中文算2个字）"
                placeholder="4~10个字（一个中文算2个字）" autocomplete="off">
            <p v-if="errors.username" class="errormsg">{{errors.username.message}}</p>
        </li>
        <li>
            <label>password <span class="required">*</span></label>
            <input v-model="password" name="password" type="password" ref="password" data-rule-minlength="8" data-rule-maxlength="16" maxlength="16" data-message-minlength="最少{0}位" data-message-maxlength="最多{0}位" required>
            <p v-if="errors.password" class="errormsg">{{errors.password.message}}</p>
            <p><button type="button" @click="checkPassword">check password</button></p>
        </li>
        <li>
            <label>confirm password</label>
            <input name="confirmPassword" type="password" maxlength="16" required :data-rule-equalto="password" data-message-equalto="两次密码不一致">
            <p v-if="errors.confirmPassword" class="errormsg">{{errors.confirmPassword.message}}</p>
        </li>
        <li><button type="submit">submit</button></li>
    </ul>
</form>
<script>
var options = {
    maxlength2: function (value, elem, param) {
        return getLength(value) <= param;  
    },
    equalto: function (value, elem, param) {
        return value === param;
    }
};

function getLength(value) {
    return Math.ceil(value.replace(/[^\x01-\xFF]/g, '--').length / 2);
}

var vm = new Vue({
    el: '#form',
    mixins: [validate(options)],
    data: function () {
        return {
            password: '' 
        }; 
    },
    methods: {
        checkPassword: function () {
            var context = this;
            alert(context.valid(context.$refs.password));
        },
        submit: function () {
            var context = this;
            if(context.valid()) {
                alert('Form is valid.');
            }
        }
    }
});
</script>
</body>
</html>