<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit" />
<title>Demo</title>
<style>
input[type="text"] {
    width: 200px;
}
.error {
    color: #f00;
}
</style>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://vuejs.org/js/vue.js"></script>
<script src="../dist/vue-validate-0.2.4.js"></script>
</head>

<body>
<form action="" id="form" @submit.prevent="submit">
    <p>
        <label>Gender:</label>
        <label><input type="radio" name="gender" value="m" data-rule-required="true" data-message-required="Plese check this one"> Male</label>
        <label><input type="radio" name="gender" value="f" data-rule-required="true" data-message-required="Plese check this one"> Female</label>
        <span v-if="errors.gender" class="error">{{errors.gender}}</span>
    </p>
    <p>
        <label><input type="checkbox" name="agree" data-rule-required="true" data-message-required="Please agree to our policy"> Agree to our policy</label>
        <span v-if="errors.agree" class="error">{{errors.agree}}</span>
    </p>
    <p>
        <select name="fruit" data-rule-required="true" data-message-required="Please select a fruit">
            <option value="">Please select a fruit</option>
            <option value="Banana">Banana</option>
            <option value="Apple">Apple</option>
            <option value="Peach">Peach</option>
            <option value="Turtle">Turtle</option>
        </select>
        <span v-if="errors.fruit" class="error">Please select a fruit</span>
    </p>
    <p>
        <input
            data-rule-required="true" data-message-required="Mobile number is required"
            data-rule-mobile="true" data-message-mobile="Place enter a valid mobile number"
            type="text" name="mobile" placeholder="Mobile e.g. 13800138000">
        <span v-if="errors.mobile" class="error">{{errors.mobile}}</span>
    </p>
    <p>
        <input
            data-rule-required="true" data-message-required="Password is required"
            data-rule-rangelength="6,16" data-message-rangelength="Place enter a password between {0} and {1} characters long"
            name="password" type="password" placeholder="Password">
            <span v-if="errors.password" class="error">{{errors.password}}</span>
    </p>
    <p>
        <input
            data-rule-required="true" data-message-required="Confirm password is required"
            data-rule-equalto="[name='password']" data-message-equalto="Please enter the same password again"
            name="confirmPassword" type="password" placeholder="Password">
            <span v-if="errors.confirmPassword" class="error">{{errors.confirmPassword}}</span>
    </p>
    <p>
        <input
            data-rule-required="true" data-message-required="Place enter the price"
            data-rule-min="0.01" data-message-min="price must great or equal 0.01"
            type="text" name="price" placeholder="Place enter the price">
        <span v-if="errors.price" class="error">{{errors.price}}</span>
    </p>
    <p><button type="submit">Login</button></p>
</form>
<script>
var options = {};
var vm = new Vue({
    el: '#form',
    mixins: [validate(options)],
    methods: {
        submit: function () {
            if (!this.valid()) {
                return;
            }
            alert('Form is valid!');
        }
    }
});
</script>
</body>
</html>
